<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta-etiquetas y enlaces -->
     <!-- Descripción breve -->
     <meta name="description" content="Páginas de venta de cubos de rubik. Tienda Cubos de Rubik Adrián.">
     <!-- Lista de palabras clave-->
     <meta name="keywords" content="tienda, cubos, rubik"> 
     <!-- Indica a los motores de búsqueda que indexen la página y sigan los enlaces -->
     <meta name="robots" content="index, follow"> 
     <!-- Codificación de caracteres a UTF-8 -->
     <meta charset="UTF-8">
     <!-- Ajustes para dispositivos móviles -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Enlace al archivo CSS -->
     <link rel="stylesheet" type="text/css" href="../css/css-contactos.css">
     <!-- Scripts para el uso de Ionicons -->
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!-- Título de la página -->
     <title>Contactos</title>
</head>
<body>
   <nav> <!-- Barra de navegación -->
       <a><img src="../images/logo.png" alt="imagen logo de la empresa"></a>
       <a href="../index.html">Inicio</a>
       <a class="pagina-actual" href="#">Contacto</a>
       <a href="presupuesto.html">Presupuesto</a>
       <a href="productos.html">Productos</a>
   </nav>
   
   <section> <!-- Sección mapa -->
        <div class="contenedor-mapa"> <!-- Contenedor -->
            <div class="info-mapa-1"> <!-- Información izquierda (teléfono) -->
                <h2>Teléfono</h2><br>
                <h3>+34 645 789 123</h3>
                <h3>+34 654 779 984</h3>
                <h3>+34 864 178 321</h3>
                <h3>+34 846 879 154</h3>
            </div>
            <iframe class="mapa" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23212.09114999874!2d-8.444698418083084!3d43.3454124675637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7cec2e25a443%3A0x63e9746f582d47a4!2sMarineda%20City!5e0!3m2!1ses!2ses!4v1724853150912!5m2!1ses!2ses" 
            allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <!-- Mapa -->
            <div class="info-mapa-2"> <!-- Información derecha (ubicación) -->
                <h2>Estamos en:</h2><br>
                <h3><br>Marineda City<br><br></h3>
                <div class="linea-divisoria"></div>
                <h3><br>Est. Baños de Arteixo<br>43, 15008 A Coruña<br><br></h3>
                <div class="linea-divisoria"></div>
                <h3><br>Segunda planta, pasillo 3<br><br></h3>
            </div>
        </div>
    </section>

    <footer> <!-- Pie de página -->
        <div class="contenedor-textos-footer"> <!-- Contenedor -->
         <div class="texto-footer-1"><a href="#">Política de privacidad</a><br>
                                     <a href="#">Términos y condiciones</a><br>
                                     adriancubosrubik@adrianrubik.com</div>
         <div class="texto-footer-2"><a href="https://instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
                                     <a href="https://facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
                                     <a href="https://x.com"><ion-icon name="logo-twitter"></ion-icon></a></div>
        </div>
         <br><br><h4>© 2024 Cubos de Rubik Adrián</h4>
     </footer>
 </body>
 </html>