<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Meta-etiquetas y enlaces -->
     <!-- Descripción breve -->
     <meta name="description" content="Páginas de venta de cubos de rubik. Tienda Cubos de Rubik Adrián.">
     <!-- Lista de palabras clave-->
     <meta name="keywords" content="tienda, cubos, rubik"> 
     <!-- Indica a los motores de búsqueda que indexen la página y sigan los enlaces -->
     <meta name="robots" content="index, follow"> 
     <!-- Codificación de caracteres a UTF-8 -->
     <meta charset="UTF-8">
     <!-- Ajustes para dispositivos móviles -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Enlace al archivo CSS -->
     <link rel="stylesheet" type="text/css" href="../css/css-productos.css">
     <!-- Scripts para el uso de Ionicons -->
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
     <!-- Título de la página -->
     <title>Productos</title>
</head>
<body>
   <nav> <!-- Barra de navegación -->
       <a><img src="../images/logo.png" alt="imagen logo de la empresa"></a>
       <a href="../index.html">Inicio</a>
       <a href="contactos.html">Contacto</a>
       <a href="presupuesto.html">Presupuesto</a>
       <a class="pagina-actual" href="#">Productos</a>
   </nav>

   <div class="seccion"> <!-- Sección productos -->
    <div class="filtro-fondo">
     <div class="contenedor-productos">
        <div class="producto"><img src="../images/producto1.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto2.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto3.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto4.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto5.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto6.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto7.jpg" alt="imagen cubo de rubik"></div>
        <div class="producto"><img src="../images/producto8.jpg" alt="imagen cubo de rubik"></div>
     </div>
    </div> 
</div>

   <footer> <!-- Pie de página -->
    <div class="contenedor-textos-footer"> <!-- Contenedor -->
     <div class="texto-footer-1"><a href="#">Política de privacidad</a><br>
                                 <a href="#">Términos y condiciones</a><br>
                                 adriancubosrubik@adrianrubik.com</div>
     <div class="texto-footer-2"><a href="https://instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
                                 <a href="https://facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
                                 <a href="https://x.com"><ion-icon name="logo-twitter"></ion-icon></a></div>
    </div>
     <br><br><h4>© 2024 Cubos de Rubik Adrián</h4>
 </footer>
</body>
</html>